body{
background: url(../images/eggs.jpeg);
}
h1{
  font-weight: 500px;
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  color: rgb(85, 3, 54);
  border-color: 10px black;
  font-style: italic;
  font-size: 60px;
  text-align: center;
  margin-top: 30px;
}
.container{
width: 1200px;
background-color: rgba(235, 144, 238, 0.699);
border: 2px solid darkblue;
padding-left: 160px;
margin-top: 80px;
height: 600px;
line-height: 30px;
}
.col-md-5{
  background-color: rgba(226, 148, 45, 0.904);
  margin-top: 90px;
  width: 400px;
  height: 400px;
  position: relative;
  right: 60px;
  bottom: 20px;
}
img{
  width: 100%;
  height: 395px;
  padding: 20px;
}
#animal-name{
  border: 4px black;
  margin: 0 auto;
}
#word{
  margin-bottom: 20px;
  background-color: rgb(228, 128, 81)
}
#letter{
  width: 60px;
  background-color: rgb(230, 123, 88);
}
button{
  background-color: blueviolet;
  border: 2px solid black;
  margin-left: 30px;
}

#word {
  width: 200px;
  height: 40px;
  border: 1px inset #fff;
}

#letter {
  height: 60px;
}